*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#head{
    background-color: #333333;
    height: 150px;
    position: relative;
    left: 2em;
}
#head > h1{
    position: relative;
    left: 2em;
}
.head h1{
    color: #FFFFFF;
    text-align: center;
    
}